@{
    ViewData["Title"] = "Get to Know Joel";
}
<div style="text-align: center;">
    <div >
        <h4>Quick Wits Comedy</h4>
        <a href="https://www.qwcomedy.com/">Visit Quick Wits Comedy</a>
    </div>
    <div>
        <h4>Baconsale</h4>
        <a href="https://baconsale.com/">Visit Baconsale</a>
        <br />
        <a href="https://baconsale.com/">
            <img src="~/img/baconsalekate.jpg" height="400" />
        </a>
    </div>
</div>